p {
	color: green;
	font-size: 20 pt;
}
l {
	color: lightblue;
	font-size: 20 pt;
}
e {
	color: red;
	font-size: 20 pt;
}
f {
	color: pink;
	font-size: 20 pt;
}
k {
	color: blue;
	font-size: 20 pt;
}
body {
	color: blue;
	font-size: 30pt;